@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-bg-color{
  background-color: #FFCE3B;
  color:#000
}
.primary-bg-color:hover{
  color: #fff;
}
.active{
  color: #FEBF00;
  background:transparent;
  font-weight: bold;
}
.custom-color{
  color: #FEBF00;
}
.menu-horizontal li:focus,
.menu-horizontal li:active,
.menu-horizontal li:hover,
.menu-horizontal li::selection{
  background:transparent !important;
}